.loginImage {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  
  }

  .buttons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

div{
    padding-top : 15px;
  }

p{
  margin-left: 10px;
  margin-right: 10px;
}