<ion-header>
  <ion-toolbar>
    <ion-title>Privacy Policy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Movie App Privacy Policy</h2>
<p>
Last updated: September 20, 2022</p>
<p>

This Privacy Policy describes Our policies and procedures on the collection, use and disclosure of Your information when You use the Service and tells You about Your privacy rights and how the law protects You.
</p>
<p>
We use Your Personal data to provide and improve the Service. By using the Service, You agree to the collection and use of information in accordance with this Privacy Policy. This Privacy Policy has been created with the help of the Privacy Policy Template.
</p>
<p>
Interpretation and Definitions
</p>
<p>
Interpretation
</p>
<p>
The words of which the initial letter is capitalized have meanings defined under the following conditions. The following definitions shall have the same meaning regardless of whether they appear in singular or in plural.
</p>
<p>
Definitions
</p>
<p>
For the purposes of this Privacy Policy:
</p>
<p>
Account means a unique account created for You to access our Service or parts of our Service.
</p>
<p>
Affiliate means an entity that controls, is controlled by or is under common control with a party, where "control" means ownership of 50% or more of the shares, equity interest or other securities entitled to vote for election of directors or other managing authority.
</p>
<p>
Application means the software program provided by the Company downloaded by You on any electronic device, named <b>Movie App</b>
</p>
<p>
Company (referred to as either "the Company", "We", "Us" or "Our" in this Agreement) refers to <b>Movie App</b>.
</p>
<p>
Country refers to: Finland
</p>
<div className="buttons">
  <ion-button [routerLink]="['/welcome']">Back</ion-button>
</div>
</ion-content>
