<ion-header>
  <ion-toolbar>
    <ion-title>Welcome to Movie App!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h3>
    Movie App has information about the freshest and most popular movie titles on the planet!
  </h3>

  <div class="logoImage">
    <ion-img src="/assets/img/movieapplogo.png" alt="Movie App Logo"></ion-img>
  </div>

  <div class="buttons">
    <ion-button size="large" [routerLink]="['/login']"> To Login page!</ion-button>
    <ion-button size="large" [routerLink]="['/privacypolicy']">Privacy Policy</ion-button>
  </div>

</ion-content>
